@font-face {
    font-family: "Dirooz";
    src: url("../Font/Dirooz.woff");
}

:root {
    --color-purple-primary: #4c0083;
    --color-white: #fff;
    --color-gray-dark: #666;
    --color-gray-light: #a6a6a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Dirooz;
}

